.b-form {
  section {
    margin: 32px auto 0;
    max-width: 750px;
    display: flex;
    flex-wrap: wrap;

    &:first-child {
      margin-top: 0;
    }
    .sec__inner{
      width: calc(100% - 60px);
    }
  }
  input[type="text"]{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
    &.h3 {
      font-size: 18px;
    } 
  }

  .radio {
    &__box {
      width: 100%;
      border: 1px solid #ccc;
      border-bottom: none;
      outline: none;
      padding: 8px 16px;
    }
  }

  .tool {
    width: 60px;
    border: 1px solid #ccc;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
    // position: absolute;
    // right: 0;
    // top: 0;
    // transform: translateX(100%);
    // padding: 8px;
    // background-color: #888;
    // color: #fff;
  }
}