.b-form {
  section {
    margin: 32px auto 0;
    max-width: 700px;
    &:first-child {
      margin-top: 0;
    }
  }
  input[type="text"]{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
    &.h3 {
      font-size: 18px;
    } 
  }

  .radio {
    &__box {
      width: 100%;
      border: 1px solid #ccc;
      border-bottom: none;
      outline: none;
      padding: 8px 16px;
    }
  }
}